<%= form_for @artist, :html => {:multipart => true} do |f| %>
    <% if @artist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

          <ul>
            <% @artist.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.file_field :art %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


