<%= form_for @album, :html => {:multipart => true} do |f| %>
    <% if @album.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

          <ul>
            <% @album.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.file_field :art %>
    </div>

    <%= collection_select(:album, :artist_id, @artists, :id, :name, {:prompt => true}) %>
    collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true)

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
